<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139861765269-simhcj7il3vacji3d7nk43kcro885e5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139861765269-simhcj7il3vacji3d7nk43kcro885e5h</string>
	<key>API_KEY</key>
	<string>AIzaSyAAw3K_NaV5LNuDt1Zp7VT1TXaujo6-79A</string>
	<key>GCM_SENDER_ID</key>
	<string>139861765269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hpcompose.frd.stag</string>
	<key>PROJECT_ID</key>
	<string>hp-compose</string>
	<key>STORAGE_BUCKET</key>
	<string>hp-compose.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139861765269:ios:2fad7bc6294bb8d15c3f9c</string>
</dict>
</plist>