<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643158513261-5hns2cu7rgn535s34tfkhq2mu7sa9oih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643158513261-5hns2cu7rgn535s34tfkhq2mu7sa9oih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643158513261-p23rp0u9c4ge1c5mlbpkhqp2h84i60ds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9S3OnpEdSeudr-4lqs_gZV_krBRGUa7U</string>
	<key>GCM_SENDER_ID</key>
	<string>643158513261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hpcompose.frd</string>
	<key>PROJECT_ID</key>
	<string>userpm-3a731</string>
	<key>STORAGE_BUCKET</key>
	<string>userpm-3a731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643158513261:ios:860270bbceb0383ec6d164</string>
</dict>
</plist>